/*                              Results */
.Results {
    font-size: 50px;
    color: #ffffff;
    position:relative;
    
    border-bottom-width: medium;
    border-bottom-color: #000000;
    border-bottom-style: groove;
    padding-bottom: 15px;
    
    border-top-width: medium;
    border-top-color: #000000;
    border-top-style: groove;
    padding-top: 15px;
    
    border-left-width: medium;
    border-left-color: #000000;
    border-left-style: groove;
    padding-left: 15px;
    
    border-right-width: medium;
    border-right-color: #000000;
    border-right-style: groove;

    padding: 10px;
    
    animation: transfer 4s infinite linear 0 running ;
}

/*                          results animation - move to history */
/*.Results {
    webkit-animation-play-state: running;
} */

@-webkit-keyframes transfer {
        from {left: inherit; top: inherit;}
        to {left: 150px; top: 900px;}
}
    
/*    animation-name: transfer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
    @-webkit-keyframes transfer {
        from {left: auto; top: auto;}
        to {left: 150px; top: 900px;}
    }
}