/*                          results animation - move to history */
.animation {
    -webkit-animation-name: transfer;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    
    @-webkit-keyframes transfer {
        0% {left: 200px; top: 350px;}
        100% {left: 150px; top: 900px;}
    }
    
    animation-name: transfer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
    @-keyframes transfer {
        0% {left: 200px; top: 350px;}
        100% {left: 150px; top: 900px;}
    }
}