#body {
    
    background-color: #880000;
    font-family: fantasy;
    color: #fff;
}

.DDmain {
/*
    position: absolute;
    right: 300px;
    top: 80px;    
*/
}

#DDimg {
    border-bottom-width: thick;
    border-bottom-color: #000000;
    border-bottom-style: groove;
    
    border-top-width: thick;
    border-top-color: #000000;
    border-top-style: groove;
    
    border-right-width: thick;
    border-right-color: #000000;
    border-right-style: groove;
    
    border-left-width: thick;
    border-left-color: #000000;
    border-left-style: groove;
}

#DICE {
    position: absolute;
    left:75px;
    top: 175px;
    color: #ffffff;
    font-size: 75px;
}

#ROLLER {
    position: absolute;
    right: 50px;
    top: 170px;
    color: #ffffff;
    font-size: 75px;
}

.thick-borders {
/*
    position: absolute;
    top: 400px;
    width: 100%;
*/
    
    border-bottom-width: thick;
    border-bottom-color: #000000;
    border-bottom-style: groove;
    
    border-top-width: thick;
    border-top-color: #000000;
    border-top-style: groove;
    
    border-right-width: thick;
    border-right-color: #000000;
    border-right-style: groove;
    
    border-left-width: thick;
    border-left-color: #000000;
    border-left-style: groove;
}

.first {
    margin-top: 25px;
    /*background-color: #000000;*/
}

/*
.history {
    max-width: 30%;
    width: auto;
    height: auto;
}
*/

.history-section {
    background-color: #000000;
}

.modifier-number {
/*    width: 57.5px;*/
    width: 6.70%;
}

.labels {
    font-size: 20px;
}    

/*                          pretty obvious... */
.roll-btn {
    font-size:20px;
    background-color: #000000;
    
    border-bottom-width: medium;
    border-bottom-color: #000000;
    border-bottom-style: groove;
    padding-bottom: 15px;
    
    border-top-width: medium;
    border-top-color: #000000;
    border-top-style: groove;
    padding-top: 15px;
    
    border-left-width: medium;
    border-left-color: #000000;
    border-left-style: groove;
    padding-left: 15px;
    
    border-right-width: medium;
    border-right-color: #000000;
    border-right-style: groove;
    padding-right: 15px;
}

/*                               Modifier */
.col-md-7 {
    position: relative;
    top: 250px;
    right: 98px;
}